*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
}

.chatContainer {
    align-items: center;
    justify-content: center;
    height: 100dvh;
    border: none;
}

.answer {
    width: 90vw;
    max-width: 0;
    height: 0;
    transition: height .5s ease, max-width 1s ease .5s;
}

.answer.active {
    max-width: 90vw;
     height: 95%;   
}

.btn-and-chat {
    align-items: center;
    justify-content: space-between;
}

.chatContainer,
.btn-and-chat {
    display: flex;
    flex-direction: column;
}

#promptSpace {
    resize: none;
    width: 90vw;
    height: 25vw;
    text-align: justify;
    font-size: 1rem;
}

#button {
    width: 90vw;
}

@media (min-width: 768px) {
    .answer {
        width: 50vw;
    }

    .answer.active {
        max-width: 50vw;
    }

    #promptSpace {
        width: 50vw;
        height: 20vw;
        font-size: 1.5rem;
    }

    #button {
        width: 50.8vw;
    }
}
